<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Contacts</title>
  </head>
  <body>
    {% for contact in object_list %}
      <ul>
        <li>
          <h3>{{ contact.first_name }} {{ contact.last_name}}</h3>
          <a href="mailto:{{ contact.email }}"></a><br>
          <span>Phone: {{ contact.phone_number }}</span><br>
          <span>Slug: {{ contact.slug }}</span><br>
          <span>Added_on: {{ contact.added_on }}</span><br>
        </li>
      </ul>
    {% endfor %}
  </body>
</html>
