.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.logo {
	&--large {
		@include centered-block;
		font-size: 15em;
		padding: 0;
	}
	&--small {
		font-size: 100px;
	}
}


// .icon-name {
// 	font-size: 32px; // works because "width" & "height" were set using em units
// 	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
// }
