// input[type="submit"].btn {
//   background-color: none;
// }


.circle--small {
  @include circle(3em);
}

.circle--large {
  @include circle(10em);
}

.collapsible-header {
  margin: 0;
  padding: 0.5em 1em;
  .circle--small {
    margin: 0 1em 0 0;
  }
}

.collapsible-body {
  padding: 1em 0;
  .circle--large, span {
    display: block;
  }
  .circle--large {
    @include centered-block;
  }
  span {
    border-bottom: 0.1em solid #eee;
    margin: 1em auto;
    max-width: 500px;
    padding-bottom: 1em;
    text-align: center;
    i {
      margin-right: 0.7em;
    }
  }
}
