nav
  div.nav-wrapper
    a(href="" class="brand-logo")
      svg.icon.icon-contactio-logo
        use(xlink:href="#icon-contactio-logo")
    ul#nav-mobile.right
      li
        a(href="") Search
          i.material-icons search
      li
        a(href="login.html") Signout
          i.material-icons search
