extends includes/base

block title
  title My Contacts

block content
  div.row
    form.col.s12.mt1em
      div.row
        div.input-field.col.s12
          i.material-icons.prefix search
          input(type="text" name="" placeholder="Search")
          label(for="") Search
  
